/* Set navy blue background */
body {
    background-color: navy;
    color:antiquewhite
  }
  
  /* Style the container */
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  /* Style the card */
  .card {
    width: calc(25% - 20px);
    margin-bottom: 10px; /* Adjust margin as needed */
  }
  
  /* Ensure images are close to the same size */
  .card-img-top {
    height: 200px; /* Adjust height as needed */
    object-fit: cover;
    border-radius: 5px;
  }